@font-face {
  font-family: "Bw Aleta No 10";
  font-style: normal;
  font-weight: 400;

  src: local("Bw Aleta No 10"), local("Bw Aleta No 10"),
    /*  url('../fonts/open-sans-v13-latin-regular.eot?#iefix') format('embedded-opentype'), IE6-IE8 
         url('../fonts/open-sans-v13-latin-regular.woff2') format('woff2'),  Super Modern Browsers 
         url('../fonts/open-sans-v13-latin-regular.woff') format('woff'),  Modern Browsers */
      url("./fonts/BwAletaNo10-Bold.otf") format("opentype"); /* Safari, Android, iOS */
}
body {
  font-family: "Bw Aleta No 10";
}
